a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.accordion{
    a{
        text-decoration: none;
    }
    
    .item{
        &:hover{
            background-color: #f0f3f4;
            border-radius: 8px;
        }
    }
}

.skeleton{
    &::before{
        background-color: #f2f6f7 !important;
    }
    &::after{
        background-color: #e9ecee !important;
    }
}
    
.navbar-search{
    input{
        background-color: #eaeeef;
        border-color: #ebebeb;
    }
    input::placeholder{
        color: #666666
    }
    input:focus{
        border-color: transparent;
    }
    input:hover{
        background-color: #e1e6e7;
    }
}

.post{
    border-radius: 15px;
    &:hover{
        background-color: #f3f5f6;
        cursor: pointer;
    }
    button:hover{
        background-color: #e0e4e6;
    }
    .like{
        color:#666666;
        &:hover{
            color: #ed111a;
        }
    }
    .comment{
        color:#666666;
        &:hover{
            color: rgb(24, 141, 24);
        }
    }
    .share{
        color:#666666;
        &:hover{
            color: rgb(99, 11, 121);
        }
    }
}

.non-decoration{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

.login-form{
    a:hover{
        text-decoration: none;
    }
    input::placeholder{
        font-size: 15px;
        color: #888888;
    }
    .info{
        cursor: pointer;
    }
}

.reply{
    &:hover{
        background-color: transparent;
        cursor: default;
    }    
}

.doctor-link{
    &:hover{
        text-decoration: underline;
        cursor: pointer;
    }
}
