.accordion-item{
    &:hover{
        background-color: #eee;
        border-radius: 8px;
    }
}

.navbar-search{
    input{
        background-color: #eaeeef;
        border-color: #ebebeb;
    }
    input::placeholder{
        color: #666666
    }
    input:focus{
        border-color: transparent;
    }
    input:hover{
        background-color: #e1e6e7;
    }
}